*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.sub-nav{
    background-color: aliceblue;
    text-align: center;
    padding: 12px;
}
.sub-nav a{
    color: blue;
}
.video{
    background-color: white;
    width: 100%;
    
}
.video video{
  
    margin: 10px 0 0 55px;
    height: 640px;
    object-fit: cover;
}