*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.sub-nav{
    background-color: aliceblue;
    text-align: center;
    padding: 12px;
}
.sub-nav a{
    color: blue;
    text-decoration: none;
}
.text{
    background-color: white;
}
.text h3{
    font-size: 25px;
    margin-top: 4%;
    margin-left: 10%;
    color: rgb(29,29,31);
}
.text h4{
    font-size: 45px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 10%;
    margin-top: 10px;
}
.second{
    border-radius: 35px;
    color: black;
    background-color: #f5f5f5;
    padding: 64px 0px 0px;
    margin: 60px 150px 0 150px;
 
}
.second h5 b{
    color:black;
    font-size: 40px;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0 0 0 16px;
  
}
.second h5 {
    color: #6E6E73;
    font-size: 30px;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 22.4px 0px 50px 88px;
}
.second img{
    margin: 0px 0px 0px 44px ;
}
.box-2{
    display: flex;
    border-radius: 35px;
    color: black;
    background-color: #f5f5f5;
    padding: 64px 0px 0px;
    margin: 60px 150px 0 150px;
 }

.last{
    
    border-radius: 35px;
    color: black;
    background-color: #f5f5f5;
    padding: 64px 0px 0px;
    margin: 120px 150px 0 70px;
 }
 .last b{
    color: black;
    font-size: 28px;
 }
 .last h5{
    margin: 0px 40px 0px 15px;
    color: #6E6E73;
    font-size: 28px;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 22.4px 0px 50px 88px;
 }
 .box-3{
    display: flex;
    border-radius: 35px;
    color: black;
    background-color: #f5f5f5;
    padding: 64px 0px 0px;
    margin: 60px 150px 50px 150px;
 }
 
 