*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(imm.avif);
    background-size: 100% 740px;
}
.contain{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 36%;
    margin-top: 7%;
    text-align: center;
    color: white;
    border-radius: 20px;
}
.contain text{
    position: relative;
    top: 7%;
}
.text h1{
   padding-top: 18px;
}
.imp1{
    border: none;
    background-color: black;
    border-bottom: 3px solid white;
    width: 250px;
    font-size: 22px;
    margin-top: 40px;
    outline:none ;
    color: white;
}
.text button{
    width: 250px;
    height: 44px;
    background-color: aqua;
    color: black;
    border: none;
    font-size: 22px;
    border-radius: 25px;
    margin-top: 20px;
}
button:hover{
    border: 3px solid aqua;
    color:azure;
    font-size: 20px;
    background-color: black;
}
p{
    margin-top: 30px;
    font-size: 20px;
}
p span{
    color: aqua;
}